.footer{
    width: 100%;
    // height: 20vh;
    background: #12131e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
    text-align: center;
    span{
        color: #f0f0f0;
        font-size: 15px;
        line-height: 150%;
        em{
            font-size: 14px;
        }
    }
}