.header{
    width: 100%;
    background: #0a0a0a;
    .top{
        width: 100%;
        // height: 30vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 80px 150px;
        .left{
            text-align: center;
            font-weight: 900;
            font-style: italic;
            transition: all;
            transition-duration: 1s;
            &:hover{
                color: rgb(230, 153, 153);
            }
            a{
                font-size: 50px;
            }
            span{
                font-size: 25px;
                font-weight: 500;
            }
        }
        .right{
            a{
                font-size: 24px;
                margin: 0 15px;
                &:hover{
                    transition: all;
                    transition-duration: 0.5s;
                    color: rgb(230, 153, 153);
                }
                &.on{
                    color: rgb(230, 153, 153);
                }
            }
        }
    }
    nav{
        width: 100%;
        // height: 10vh;
        background: #12131e;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
        font-weight: 700;
        a{
            font-size: 23px;
            margin: 0 15px;
            transition: all;
            transition-duration: 0.5s;
            &:hover{
                transition: all;
                transition-duration: 0.5s;
                color: rgb(230, 153, 153);
            }
            &.on{
                color: rgb(230, 153, 153);
            }
        }
    }
}