.section2{
    width: 100%;
    padding: 100px 30%;
    background: #0a0a0a;
    .skills{
        width: 100%;
        h1{
            font-size: 42px;
            font-weight: 700;
            padding: 0 0 20px 0;
        }
        ul{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: left;
            flex-wrap: wrap;
            li{
                border: 1px solid #fff;
                padding: 5px 10px;
                margin: 0 30px 20px 0;
                font-size: 20px;
            }
        }
    }
}